/* CSS variables */

:root {
  --cardFromRight: #a9c59b;
  --cardFromLeft: #120d31;
  --rotate: #8de969;
}

/* BODY*/
body {
  font-family: 'rybin', serif;
}

/* MAIN */
.main {
  height: 100vh;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 500px;
  min-width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
}

.slideInLeftCard {
  background-color: var(--cardFromLeft);
  color: whitesmoke;
  animation-duration: 3s;
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
}

@keyframes slideInLeft {
   from {
    transform: translateX(-300px);
    to {
       transform: translateX(0px);
    }
   }

}

.slideInRightCard {
  background-color: var(--cardFromRight);
  /*animation-duration: 3s;*/
  animation-name: slideInRight 3s ease-in;
  /*animation-timing-function: ease-out;*/
}

@keyframes slideInRight {
  from {
    transform: translateX(400px);
    to {
      transform: translateX(0px);

    }
  }
}

.rotateCard {
  padding: 20px;
  width: 100px;
  height: 100px;
  background-color: var(--rotate);
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  width: 100px;
  border-radius: 40px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  box-shadow: 2px 2px 5px lightgrey;
}
